// Block
@import "module/header/header__media";
@import "module/slider/slider__media";
@import "module/about/about__media";
@import "module/aside/aside__media";
@import "module/program/program__media";
@import "module/content/content__media";
@import "module/footer/footer__media";
@import "module/crisis/crisis__media";
@import "module/opportunities/opportunities__media";
@import "module/target/target__media";
@import "module/social-program/social-program__media";
@import "module/program__input/program__input__media";
@import "module/description/description__media";

@media (max-width:990px) {
    .title {
        font-size: 32px;
    }
}

@media (max-width:990px) {
    .title {
        font-size: 28px;
        line-height: 22px;
    }
}

@media (max-width:420px) {
    .title {
        font-size: 22px;
    }
}


