@media (max-width: 790px) {
    .panel {
        padding: 0;
    }
    .panel__item {
        position: relative;
        transform: translateY(0);
        width: 100%;

        padding: 20px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .panel__item-title {
        font-size: 28px;
    }

}

@media (max-width: 600px) {

    .panel__item-title {
        font-size: 20px;
        line-height: 30px;
        width: 35%;
    }
}

@media (max-width: 565px) {
    .panel__item {
        flex-wrap: wrap;
    }

    .panel__item-title {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
}