@media (max-width: 1725px) {
    .marketign__container {
        top: 10px;

    }
}

@media (max-width: 1530px) {

    .marketing__inner {
        padding: 50px 0;
    }

    .marketing__item-img {
        display: none;
    }

    .marketign__container {
        position: relative;
        width: 100%;
    }

    .marketing__body {
        width: 100%;
    }

    .marketing__title {
        text-align: center;
    }

    .marketing__text {
        text-align: center;
    }

    .marketing__item:first-child {
        width: 100%;
    }

    .marketing__item:last-child {
        display: none;
    }

    .marketing__info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .marketing__info {
        width: 33.333%;
    }

    .marketing__info+.marketing__info {
        margin-left: 20px;
    }
}

@media (max-width: 1120px) {
    .marketing__info-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .marketing__info {
        width: 45%;
    }

    .marketing__info+.marketing__info {
        margin-left: 0px;
    }


}

@media (max-width: 830px) {
    .marketing__info {
        width: 100%;
    }

    .marketing__file {
        display: none;
    }

    .marketing__item-wrapper {
        width: 100%;
    }

    .marketing__item-title {
        text-align: center;
    }
}