.aside__inner {
    display: flex;
}

.aside__wrapper-left {
    width: 100%;
    background: #333333;
}

.aside__wrapper-right {
    width: 100%;
    background: #10212B;
}

.aside__item-wrapper-left {
    width: 40 0px;
    margin-left: auto;
}

.aside__item-wrapper-right {
    width: 400px;
    margin-right: auto;
}

.aside__item {
    padding: 30px 30px;
    min-width: 430px;
    height: 320px;
    background-position: center;
    background-size: cover;
}

.aside__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;

    margin-bottom: 35px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        bottom: -15px;
        background-color: #fff;
    }
}

.aside__text {
    font-size: 18px;
    line-height: 155%;
    color: #FFFFFF;
}

.aside__item {
    .btn__small {
        margin-top: 25px;
    }
}

.aside__content {
    font-size: 18px;
    line-height: 155%;
    color: #10212B;
}