.registration {
    background-color: #E5E5E5;
    padding: 70px 0;
}

.registration__inner {
    display: flex;
    justify-content: space-between;
}

.registration__item-right,
.registration__item-left {
    width: 50%;
}

.registration__item-left {
    background-color: #fff;
    padding: 50px;
}

.registration__item-right {
    padding-left: 30px;
}

.registration__img {
    img {
        max-width: 100%;
    }

    margin-bottom: 30px;
}

.registration__name {
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 20px;
}