.training {
    margin-top: 67px;
    background: #F2F2F2;
}

.training__wrapper {
    display: flex;
    justify-content: space-between;
}

.training .crisis__text {
    margin-bottom: 40px;
}

.training__number {
    font-weight: 500;
    font-size: 52px;
    line-height: 155%;
    letter-spacing: 0.1em;
    color: #10212B;
}

.training__text {
    font-size: 18px;
    line-height: 155%;
    color: #828282;
}