.company {
    margin-top: 67px;
    background: #F2F2F2;

    .crisis__inner {
        padding-bottom: 50px;
    }

    .content__subtitle {
        font-size: 24px;
        line-height: 28px;
        color: #10212B;
    }

    .crisis__item {
        z-index: 10;
    }
}

.company__inner {
    justify-content: space-between;
}

.company__item {
    width: 35%;
}