.footer {
    background-color: #000;
    padding: 60px 0 25px;
    color: #FFFFFF;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.footer__social-item {
    width: 33.33%;
    margin-bottom: 15px;
}

.footer__copy {
    width: 520px;
}

.footer__logo {
    margin-right: 42px;
}

.footer__text {
    font-size: 16px;
    line-height: 155%;
    color: #F2F2F2;
}

.footer__copy-link {
    font-size: 14px;
    line-height: 155%;
    text-decoration-line: underline;
    color: #F2F2F2;
    display: block;

    margin-bottom: 15px;
}

.footer__copyright {
    font-size: 12px;
    line-height: 155%;
    color: #BDBDBD;
}

.footer__menu-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    margin-bottom: 18px;
}

.footer__menu-item {
    font-size: 16px;
    text-decoration-line: underline;
    
    margin-bottom: 15px;
    transition: all .2s linear;

    &:hover {
        color: #B5EAF8;
    }
}

.footer__phone a{
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    

    margin-bottom: 20px;
}

.footer__mail a{
    display: block;
    font-size: 18px;
    font-weight: 300;

    margin-bottom: 15px;

}   

.footer__copy-text {
    text-align: center;
}