@media (max-width: 1400px) {
    .social-program-title {
        font-size: 30px;
        line-height: 30px;
    }

    .social-program__wrapper {
        justify-content: space-between;
    }

    .social-program-item {
        width: 40%;
    }

    .social-program {
        .crisis__text {
            font-size: 16px;
        }
    }

    .social-program-text {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .social-program {
        text-align: left;

        .crisis__item:last-child {
            display: none;
        }

        .crisis__item:first-child {
            width: 100%;
        }

        .crisis__container {
            position: relative;
        }

        .crisis__body {
            width: 100%;
            padding: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .social__body-item {
            width: 35%;
        }
    }

    .social-program__wrapper {
        justify-content: space-around;
        padding-top: 40px;
    }

    .social-program-item {
        width: 35%;
    }
}

@media (max-width: 1031px) {
    .social__body-item {
        width: 40%;
    }

    .social-program-item {
        width: 40%;
    }

    .social-program {

        .crisis__title {
            font-size: 22px;
            line-height: 22px;
        }

        .crisis__text {
            font-size: 14px;
            text-align: left;
        }

        .social-program-title {
            font-size: 22px;
            line-height: 22px;
        }

        .social-program-text {
            font-size: 14px;
            text-align: left;
        }
    }
}

@media (max-width: 750px) {
    .social-program {
        .social__body-item {
            width: 100%;
            
        }

        .crisis__text {
            width: 100%;
            text-align: center;
        }

        .social-program__wrapper {
            justify-content: center;
        }
    
        .social-program-item {
            width: 100%;
    
            text-align: center;
            margin-bottom: 20px;
        }

        .social-program-title {
            margin-bottom: 15px;
        }
    
        .social-program-text {
            text-align: center;
        }
       
    }


}