.content__inner {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.content__item-left {
    width: 410px;
    margin-right: 235px;
}

.content__item-right {
    padding: 20px 0 20px 20px;
    background-color: #F2F2F2;
}

.content__img {
    max-width: 100%;

}


.content__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
    margin-bottom: 20px;
}

.content__subtitle {
    font-size: 14px;
    line-height: 18px;
    color: #10212B;
    margin-bottom: 20px;

    span {
        font-weight: bold;
    }
}

.content__info {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 20px;
}