@media (max-width: 990px) {
    .platform {
        padding: 25px 0;
    }

    .platform__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .platform__item {
        width: 45%;
        min-height: 615px;

        margin-bottom: 40px;
    }

    .platform__item+.platform__item {
        margin-left: 0;
    }
}

@media (max-width: 780px) {
    .platform__item {
        width: 100%;
    }
}